%h1 Edit Broadway Play

= simple_form_for @play, html: {multipart: true} do |f|
  -if @play.errors.any?
    %h2= pluralize(@play.errors.count,"error")
    Prevented this Play from saving
    %ul
      @play.errors.full_messages.each do |msg|
      %li= msg
  .form-group
    = f.file_field :play_img
  .form-group
    = f.select :category_id, @categories
  .form-group
    = f.input :title, label: "Play Title", input_html: {class: 'form-control'}
  .form-group
    = f.input :description, input_html: {class: 'form-control'}
  .form-group
    = f.input :director, input_html: {class: 'form-control'}

  = f.button :submit, class: 'btn btn-primary'