%html
  %head
    %title Broadway
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'

  %body
    %nav.navbar.navbar-inverse
      .container
        .navbar-header
          .navbar-brand= link_to 'Broadway', root_path
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to 'Sign Out', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'Join', new_user_registration_path
            %li= link_to 'Sign In', new_user_session_path
        %ul.nav.navbar-nav
          - if user_signed_in?
            %li= link_to 'Add Play', new_play_path
    .container
      - flash.each do |name,msg|
        = content_tag :div, msg, class: 'alert alert-info'

      = yield


